.navbar {
  height: 80px;
  color: white;
  padding: 0 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.navbar-link .navbar-link-item {
  margin-left: 32px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.navbar-link .navbar-link-item:hover {
  color: #6eb8ff;
}

.navbar-link svg {
  margin-left: 32px;
}

.navbar svg {
  cursor: pointer;
}

.profile {
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}
