.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 15px 0 15px 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #eee;
  background-color: transparent;
  border-radius: 3px;
  position: relative;
  margin-left: 5px;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #eee;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 3px;
  top: 1x;
  width: 4px;
  height: 8px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  margin: 15px 0 15px 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14p;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #eee;
  background-color: transparent;
  border-radius: 3px;
  position: relative;
  margin-left: 5px;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #eee;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 3px;
  top: 1x;
  width: 4px;
  height: 8px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
