.sidebar {
  max-width: 307px;
  min-width: 307px;
  padding: 24px;
  background-color: #37383e;
  border-radius: 5px;
  position: fixed;
  right: 42px;
  top: 104px;
}

.sidebar-item {
  display: flex;
  border-bottom: 1px solid #aaa;
  padding: 16px 0;
  font-size: 14px;
}

.sidebar-item:last-child {
  border-bottom: none;
}
